{% if faasd_fqdn is defined and faasd_fqdn %}
{{ faasd_fqdn }}
{% endif %}
reverse_proxy 127.0.0.1:8080
{% if letsencrypt_email is defined and letsencrypt_email %}
tls {
	issuer acme {
		email "{{ letsencrypt_email }}"
		propagation_timeout "30m0s"
		
		{% if loopia_username is defined and loopia_username %}
		dns loopia {
			username "{{ loopia_username }}"
			password "{{ loopia_password }}"
		}
		{% endif %}

		{% if faasd_caddy_resolvers is defined and faasd_caddy_resolvers %}
		resolvers "{{ faasd_caddy_resolvers }}"
		{% endif %}
	}
}
{% endif %}