# {{ ansible_managed }}
[Unit]
Description=faasd-provider

[Service]
MemoryLimit=500M
Environment="secret_mount_path={{ faasd_secrets }}"
Environment="basic_auth=true"
ExecStart=/usr/local/bin/faasd provider
Restart=on-failure
RestartSec=10s
WorkingDirectory={{ faasd_provider_wd }}

[Install]
WantedBy=multi-user.target
